* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbf9f7;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: none;
    padding: 1rem;
}



nav {
    width: 100%;
    padding: 0 2%;
}

.loggaNav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loggaNav img {
    width: 5rem;
}

.loggaNav h1 {
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


nav ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #f9d36b;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

li {
    display: block;
    list-style-type: none;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 1.2rem;
}

.menuItems {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover,
a:visited {
    color: #000;
}

.icon {
    display: none;
}

a :last-child {
    color: black;
}

@media screen and (max-width: 810px) {
    .menuNav {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    ul {
        overflow: hidden;
        background-color: #ffffff;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .menuItems {
        display: none;
    }

    /* Style navigation menu links */
    ul a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    /* Style the hamburger menu */
    ul a.icon {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 1rem;
        right: 0;
        top: 0;
        padding: 1rem;
        font-size: 2rem;
        opacity: 90%;
        height: 100%;
    }

    /* Add a grey background color on mouse-over */
    ul a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: #04AA6D;
        color: white;
    }

    .icon {
        display: block;
    }

}